/*estilo de la pagina web*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	font-family:Arial;
}

header{
	font-family:Arial;
	background-color: black;
}

nav{
	padding-top: 1em;
	padding-bottom: 1em;
	font-family:Arial;
	display: flex;
	justify-content: space-between;
}

nav a{
	font-family:Arial;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
}

nav a:hover{
	color: violet;
}

section{
	text-align: center;
}

section h1{
	font-family:Arial;
	font-size: 1.8em;
	padding-top: 2em;
}

section p{
	font-family:Arial;
	font-size: 1.2em;
}

#sobre-mi {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}

#proyectos {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}

#contacto {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: justify;
	padding-left: 1em;
	padding-right: 1em;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer p{
	font-family:Arial;
	text-transform: uppercase;
}
